* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MyFirstFont;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: MyFirstFont;
  src: url('https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff2');
  font-display: swap;
}

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */